body {
    font-family: Arial, sans-serif;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("https://play-lh.googleusercontent.com/R46vqH8qKkBTxEcTZJ3WzAfVaeG7xXHdKBCi6jnhoFadggWy8NoA3GfxnrSkpUYCxjE");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px 700px;
    font-size: x-large;
    border: solid black;
    border-radius: 10px;
}
#operation, #dText0 {
    font-size: large;
}
#dImage {
    margin-top: -100px;
    border: solid black;
    border-radius: 5px;
}
#execute {
    border: solid black;
    border-radius: 10px;
    font-size: x-large;
}
#result {
    border: 1px solid rgb(116, 116, 116);
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
    width: 100px;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    border: solid black;
    border-radius: 10px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
